doctype html
html
  head
    title Your Year on Last.FM
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    link(rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Libre+Baskerville' type='text/css')
    link(rel="stylesheet" href="assets/css/styles.css")
  body
    .max-height(id="main")
      .background--start.slide-out-top(v-class="active: initialized")
        .row.splash.max-height
          .columns.small-12.text-center.center-vertical
            br
            input.splash__field(placeholder="Enter your username.", v-model="username")
            .my-button--center(v-on="click : initialize" v-class="active : loading")
              .my-button__content(v-class="active : loading")
                div(v-show="!loading") Go
                div(v-show="loading")
                  svg.spinner(width="40px", height="40px", viewBox="0 0 40 40", xmlns="http://www.w3.org/2000/svg")
                    circle.path(fill="none", stroke-width="2", stroke-linecap="round", cx="20", cy="20", r="15")
      .background--introduction(v-show="initialized")
        .row.max-height
          .columns.small-12.text-center.center-vertical
            .introduction__avatar-wrapper
              .introduction__hr--short--left
              .introduction__avatar(style="background: url({{ avatarSource }}) no-repeat center; background-size: cover;")
              .introduction__hr--short--right
            .introduction__message
              | You've scrobbled...
              br.space
              span.introduction__scrobble-count 2,503
              br.space
              | times in 2014.
              br.space
              | Keep scrolling to learn
              br
              | about your year on
              br
              | last.fm.
            .introduction__hr--long
      .row.collapse.max-height(v-show="initialized")
        .columns.small-12.text-center.center-vertical
          .transition__title Top 5 Albums
          hr.hr--2.center-horizontal(v-expand-width="{ bindOn: initialized, triggerHook: 1, width: 250 }")
      .background--albums(v-show="initialized")
        .row.collapse.max-height
          .columns.small-12.center-vertical(v-slide-in-top="{ bindOn: initialized, triggerHook: 1 }")
            .row.collapse.albums
              .columns.small-12.medium-6
                .albums__album-wrapper
                  .albums__album-content
                    .albums__album-text(v-class="active : albumsToggled")
                      span.albums__album-number 01
                      br.space
                      .albums__hr
                      br.space
                      span.albums__album-name {{ album1.album }}
                      br
                      span.albums__album-artist by {{ album1.artist }}
                    .albums__album-art(style="background-image: url({{ album1.image }}); background-size: cover;", v-class="active : albumsToggled")
              .columns.small-12.medium-6
                .row.collapse
                  .columns.small-12.medium-6
                    .albums__album-wrapper
                      .albums__album-content
                        .albums__album-text(v-class="active : albumsToggled")
                          span.albums__album-number 02
                          br.space
                          .albums__hr
                          br.space
                          span.albums__album-name {{ album2.album }}
                          br
                          span.albums__album-artist by {{ album2.artist }}
                        .albums__album-art(style="background-image: url({{ album2.image }}); background-size: cover;", v-class="active : albumsToggled")
                  .columns.small-12.medium-6
                    .albums__album-wrapper
                      .albums__album-content
                        .albums__album-text(v-class="active : albumsToggled")
                          span.albums__album-number 03
                          br.space
                          .albums__hr
                          br.space
                          span.albums__album-name {{ album3.album }}
                          br
                          span.albums__album-artist by {{ album3.artist }}
                        .albums__album-art(style="background-image: url({{ album3.image }}); background-size: cover;", v-class="active : albumsToggled")
                .row.collapse
                  .columns.small-12.medium-6
                    .albums__album-wrapper
                      .albums__album-content
                        .albums__album-text(v-class="active : albumsToggled")
                          span.albums__album-number 04
                          br.space
                          .albums__hr
                          br.space
                          span.albums__album-name {{ album4.album }}
                          br
                          span.albums__album-artist by {{ album4.artist }}
                        .albums__album-art(style="background-image: url({{ album4.image }}); background-size: cover;", v-class="active : albumsToggled")
                  .columns.small-12.medium-6
                    .albums__album-wrapper
                      .albums__album-content
                        .albums__album-text(v-class="active : albumsToggled")
                          span.albums__album-number 05
                          br.space
                          .albums__hr
                          br.space
                          span.albums__album-name {{ album5.album }}
                          br
                          span.albums__album-artist by {{ album5.artist }}
                        .albums__album-art(style="background-image: url({{ album5.image }}); background-size: cover;", v-class="active : albumsToggled")
            .row.collapse
              .columns.small-12
                br.space
                .my-button--circular--center(v-on="click : albumsToggled = !albumsToggled")
                  .my-button__content--circular
                    i.fa.fa-eye
      .row.collapse.max-height(v-show="initialized")
        .columns.small-12.text-center.center-vertical
          .transition__title Top 10 Songs
          hr.hr--2.center-horizontal(v-expand-width="{ bindOn: initialized, triggerHook: 1, width: 250 }")
      .background--songs(v-show="initialized")
        .row.collapse(v-repeat="song in songs")
          .columns.small-12.songs__song(v-slide-in-top="{ bindOn: initialized, triggerHook: 1 }")
            .row.collapse
              .columns.small-1.text-left
                hr.hr--1
                br.space
                .songs__number {{ $index + 1 }}
              .columns.small-10.text-center
                hr.hr--1
                br.space
                .songs__title {{ song.name }}
                .songs__artist by {{ song.artist }}
              .columns.small-1.text-right
                hr.hr--1
                br.space
                .songs__number {{ song.playCount | addCommas }}
                .songs__scrobbles scrobbles
      .row.collapse.max-height(v-show="initialized")
        .columns.small-12.text-center.center-vertical
          .transition__title Top 5 Artists
            hr.hr--2.center-horizontal(v-expand-width="{ bindOn: initialized, triggerHook: 1, width: 250 }")
      .background--artists(v-show="initialized")
        .row.collapse.max-height
          .columns.small-2.text.center(v-repeat="artist in artists") {{ artist.artist }} - {{ artist.playCount }}
      .row.collapse.max-height(v-show="initialized")
        .columns.small-12.text-center.center-vertical
          .transition__title Seasonal Listens
            hr.hr--2.center-horizontal(v-expand-width="{ bindOn : initialized, triggerHook: 1, width: 250}")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.12/vue.min.js")
    script(src="assets/js/config.js")
    script(src="assets/js/lastfm-api.js")
    script(src="assets/js/app.js")